{% extends 'base.html.twig' %}

{% block title %}Liste des images - AKA77{% endblock %}

{% block body %}
    <h1>Gallery</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gallery.id }}</td>
            </tr>
            <tr>
                <th>ImgName</th>
                <td>{{ gallery.imgName }}</td>
            </tr>
            <tr>
                <th>UrlImgOriginal</th>
                <td>{{ gallery.urlImgOriginal }}</td>
            </tr>
            <tr>
                <th>ImgLike</th>
                <td>{{ gallery.imgLike }}</td>
            </tr>
            <tr>
                <th>DateUpdate</th>
                <td>{{ gallery.dateUpdate ? gallery.dateUpdate|date('d/m/Y à H:i') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('gallery_index') }}">Retour à la liste</a>

    <a class="btn btn-warning" href="{{ path('gallery_edit', {'id': gallery.id}) }}">Modifier</a>

    {{ include('gallery/_delete_form.html.twig') }}
{% endblock %}
